# Archivos de resultados y graficas
#results/*.csv
#results/*.png

# Archivos de simulacion y temporales
csrc/
salida*
*.daidir/
*.vdb/
*.vpd
*.fsdb
DVEfiles/
vc_hdrs.h
ucli.key
verdi_config_file
*.key
#results/*.log